.details{
    margin: 20px auto;
    width: 20%;
    border: 1px solid black;
    border-radius: 2%;
    padding: 15px;
    caret-color: black;
}
.details input,label{
    display: block;
}
.details label{
    margin:5px auto;
}
.details input{
    margin-bottom: 10px;
    width: 90%;
}
.details input:focus{
    border: 3px solid lightskyblue;
}
button{
    display: block;
    margin: 10px auto;
}