html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: black;
}

#heading{ 
    font-size: 30px;
    text-decoration: underline;
    background-color: rgb(35, 226, 162);
    display: inline-block;
}

h1{
    color:aqua;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    text-align: center;
}

h2,p{
    color: azure;
    font-size: 20px;
    margin: 22px;
    padding: 2px;
}

button{
    margin: 20px;
    padding: 15px;
    background-color:crimson;
    color: azure;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}